@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  font-family: "Montserrat", sans-serif;
}


.shopTitle {
  margin-top: 50px;
  text-align: center;
  font-size: 30px;
}

.products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
}

.product {
  border-radius: 15px;
  width: 100%;
  max-width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product img {
  width: 100%;
  max-width: 250px;
  height: auto;
}

.product .description {
  text-align: center;
}



.addToCartBttn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding: 5px 10px;
  border-radius: 15px;
}

.addToCartBttn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}

.footer{
  background-color: black;
  padding: 20px 20px;
  margin-top: 10px;
  color: white;
  margin-top: 50px;
  text-align: center;
  font-size: 15px;

}

button{
  font-family: "Montserrat", sans-serif;
}

button:hover, .cartBttn:hover{
  background-color: white;
  color: black;
  border: 2px solid rgb(19, 19, 19);
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
  .shopTitle {
    font-size: 24px;
  }
}
